<% provide(:title, "Members Only") %>

<head>
  <title><%= yield(:title) %> | Social Forum</title>
</head>

<div class="center jumbotron">
  <h1>Welcome to Members Only</h1>

  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
  <br>
  <br>
  <%= link_to "Posts", posts_path, class: "btn btn-lg btn-primary" %>

  <h3> To complete this project you must make it so the author of each post is saved to their corresponding posts, and so that logged-in users can see this information, but non-logged-in users cannot.  This will most likely require making rails associations (has_many, belongs_to) for all post-user combos, and then adding the logic in the index page to show this info based on login status.  GOOD LUCK!!</h3>

</div>
